
.icon-samsung:before { content: '\e800'; } /* '' */
.icon-dell:before { content: '\e801'; } /* '' */
.icon-hp:before { content: '\e802'; } /* '' */
.icon-toshiba:before { content: '\e803'; } /* '' */
.icon-apple:before { content: '\e804'; } /* '' */
.icon-applemusic:before { content: '\e805'; } /* '' */
.icon-applepay:before { content: '\e806'; } /* '' */
.icon-applearcade:before { content: '\e807'; } /* '' */
.icon-applepodcasts:before { content: '\e808'; } /* '' */
.icon-appletv:before { content: '\e809'; } /* '' */
.icon-huawei:before { content: '\e80a'; } /* '' */
.icon-motorola:before { content: '\e80b'; } /* '' */
.icon-lg:before { content: '\e80c'; } /* '' */
.icon-lgtm:before { content: '\e80d'; } /* '' */
.icon-hitachi:before { content: '\e80e'; } /* '' */
.icon-amd:before { content: '\e80f'; } /* '' */
.icon-beatport:before { content: '\e810'; } /* '' */
.icon-beats:before { content: '\e811'; } /* '' */
.icon-adobe:before { content: '\e812'; } /* '' */
.icon-amazon:before { content: '\e813'; } /* '' */
.icon-amazonalexa:before { content: '\e814'; } /* '' */
.icon-amazonaws:before { content: '\e815'; } /* '' */
.icon-android:before { content: '\e816'; } /* '' */
.icon-androidauto:before { content: '\e817'; } /* '' */
.icon-audio-technica:before { content: '\e818'; } /* '' */
.icon-audiomack:before { content: '\e819'; } /* '' */
.icon-amazondynamodb:before { content: '\e81a'; } /* '' */
.icon-androidstudio:before { content: '\e81b'; } /* '' */
.icon-amazonlumberyard:before { content: '\e81c'; } /* '' */
.icon-amazonpay:before { content: '\e81d'; } /* '' */
.icon-amazonfiretv:before { content: '\e81e'; } /* '' */
.icon-bitdefender:before { content: '\e81f'; } /* '' */
.icon-blackberry:before { content: '\e820'; } /* '' */
.icon-bluetooth:before { content: '\e821'; } /* '' */
.icon-co-op:before { content: '\e822'; } /* '' */
.icon-dropbox:before { content: '\e823'; } /* '' */
.icon-electron:before { content: '\e824'; } /* '' */
.icon-epson:before { content: '\e825'; } /* '' */
.icon-facebook:before { content: '\e826'; } /* '' */
.icon-facebookgaming:before { content: '\e827'; } /* '' */
.icon-facebooklive:before { content: '\e828'; } /* '' */
.icon-fujitsu:before { content: '\e829'; } /* '' */
.icon-fujifilm:before { content: '\e82a'; } /* '' */
.icon-ibm:before { content: '\e82b'; } /* '' */
.icon-intel:before { content: '\e82c'; } /* '' */
.icon-lenovo:before { content: '\e82d'; } /* '' */
.icon-lg-1:before { content: '\e82e'; } /* '' */
.icon-lgtm-1:before { content: '\e82f'; } /* '' */
.icon-linux:before { content: '\e830'; } /* '' */
.icon-linuxcontainers:before { content: '\e831'; } /* '' */
.icon-logitech:before { content: '\e832'; } /* '' */
.icon-mcafee:before { content: '\e833'; } /* '' */
.icon-microsoft:before { content: '\e834'; } /* '' */
.icon-microsoftazure:before { content: '\e835'; } /* '' */
.icon-microsoftexcel:before { content: '\e836'; } /* '' */
.icon-microsoftoffice:before { content: '\e837'; } /* '' */
.icon-microsoftoutlook:before { content: '\e838'; } /* '' */
.icon-microsoftpowerpoint:before { content: '\e839'; } /* '' */
.icon-microsoftword:before { content: '\e83a'; } /* '' */
.icon-nokia:before { content: '\e83b'; } /* '' */
.icon-nvidia:before { content: '\e83c'; } /* '' */
.icon-opera:before { content: '\e83d'; } /* '' */
.icon-playstation:before { content: '\e83e'; } /* '' */
.icon-playstation2:before { content: '\e83f'; } /* '' */
.icon-playstation3:before { content: '\e840'; } /* '' */
.icon-playstation4:before { content: '\e841'; } /* '' */
.icon-playstation5:before { content: '\e842'; } /* '' */
.icon-playstationvita:before { content: '\e843'; } /* '' */
.icon-primevideo:before { content: '\e844'; } /* '' */
.icon-qualcomm:before { content: '\e845'; } /* '' */
.icon-seagate:before { content: '\e846'; } /* '' */
.icon-shopify:before { content: '\e847'; } /* '' */
.icon-shotcut:before { content: '\e848'; } /* '' */
.icon-shutterstock:before { content: '\e849'; } /* '' */
.icon-siemens:before { content: '\e84a'; } /* '' */
.icon-signal:before { content: '\e84b'; } /* '' */
.icon-t-mobile:before { content: '\e84c'; } /* '' */
.icon-ubereats:before { content: '\e84d'; } /* '' */
.icon-uber:before { content: '\e84e'; } /* '' */
.icon-ubuntu:before { content: '\e84f'; } /* '' */
.icon-uploaded:before { content: '\e850'; } /* '' */
.icon-visa:before { content: '\e851'; } /* '' */
.icon-vlcmediaplayer:before { content: '\e852'; } /* '' */
.icon-vodafone:before { content: '\e853'; } /* '' */
.icon-whatsapp:before { content: '\e854'; } /* '' */
.icon-windowsterminal:before { content: '\e855'; } /* '' */
.icon-windows:before { content: '\e856'; } /* '' */
.icon-windows95:before { content: '\e857'; } /* '' */
.icon-windowsxp:before { content: '\e858'; } /* '' */
.icon-woocommerce:before { content: '\e859'; } /* '' */
.icon-xbox:before { content: '\e85a'; } /* '' */
.icon-xiaomi:before { content: '\e85b'; } /* '' */
.icon-youtube:before { content: '\e85c'; } /* '' */
.icon-youtubegaming:before { content: '\e85d'; } /* '' */
.icon-youtubemusic:before { content: '\e85e'; } /* '' */
.icon-youtubetv:before { content: '\e85f'; } /* '' */
.icon-youtubestudio:before { content: '\e860'; } /* '' */
.icon-emo-happy:before { content: '\e861'; } /* '' */
.icon-emo-wink:before { content: '\e862'; } /* '' */
.icon-emo-wink2:before { content: '\e863'; } /* '' */
.icon-spin1:before { content: '\e864'; } /* '' */
.icon-spin2:before { content: '\e865'; } /* '' */
.icon-spin3:before { content: '\e866'; } /* '' */
.icon-spin4:before { content: '\e867'; } /* '' */
.icon-spin5:before { content: '\e868'; } /* '' */
.icon-spin6:before { content: '\e869'; } /* '' */
.icon-firefox:before { content: '\e86a'; } /* '' */
.icon-chrome:before { content: '\e86b'; } /* '' */
.icon-opera-1:before { content: '\e86c'; } /* '' */
.icon-ie:before { content: '\e86d'; } /* '' */
.icon-glass:before { content: '\e86e'; } /* '' */
.icon-music:before { content: '\e86f'; } /* '' */
.icon-search:before { content: '\e870'; } /* '' */
.icon-mail:before { content: '\e871'; } /* '' */
.icon-user:before { content: '\e872'; } /* '' */
.icon-users:before { content: '\e873'; } /* '' */
.icon-videocam:before { content: '\e874'; } /* '' */
.icon-picture:before { content: '\e875'; } /* '' */
.icon-camera:before { content: '\e876'; } /* '' */
.icon-camera-alt:before { content: '\e877'; } /* '' */
.icon-th-large:before { content: '\e878'; } /* '' */
.icon-cancel:before { content: '\e879'; } /* '' */
.icon-cancel-circled:before { content: '\e87a'; } /* '' */
.icon-cancel-circled2:before { content: '\e87b'; } /* '' */
.icon-plus:before { content: '\e87c'; } /* '' */
.icon-plus-circled:before { content: '\e87d'; } /* '' */
.icon-flag:before { content: '\e87e'; } /* '' */
.icon-tags:before { content: '\e87f'; } /* '' */
.icon-bookmark:before { content: '\e880'; } /* '' */
.icon-thumbs-up:before { content: '\e881'; } /* '' */
.icon-download:before { content: '\e882'; } /* '' */
.icon-upload:before { content: '\e883'; } /* '' */
.icon-basket:before { content: '\e884'; } /* '' */
.icon-trash:before { content: '\e885'; } /* '' */
.icon-windows-1:before { content: '\e886'; } /* '' */
.icon-laptop:before { content: '\e887'; } /* '' */
.icon-laptop-circled:before { content: '\e888'; } /* '' */
.icon-desktop-circled:before { content: '\e889'; } /* '' */
.icon-desktop:before { content: '\e88a'; } /* '' */
.icon-globe-alt:before { content: '\e88b'; } /* '' */
.icon-globe:before { content: '\e88c'; } /* '' */
.icon-inbox-circled:before { content: '\e88d'; } /* '' */
.icon-inbox:before { content: '\e88e'; } /* '' */
.icon-music-1:before { content: '\e88f'; } /* '' */
.icon-search-1:before { content: '\e890'; } /* '' */
.icon-mail-1:before { content: '\e891'; } /* '' */
.icon-heart:before { content: '\e892'; } /* '' */
.icon-desktop-1:before { content: '\e893'; } /* '' */
.icon-mobile:before { content: '\e894'; } /* '' */
.icon-wallet:before { content: '\e895'; } /* '' */
.icon-cog:before { content: '\e896'; } /* '' */
.icon-eye:before { content: '\e897'; } /* '' */
.icon-database:before { content: '\e898'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-discover:before { content: '\f327'; } /* '' */